<div class="center jumbotron">
  <h3>Create A New Team</h3>
  <!-- see style sheet custom.scss for h3's style  -->

  <%= puts ":                                             " %>
  <%= puts ":         teams/root/new.html.erb"              %>
  <%= puts ":                                             " %>
  <%= puts ":         rendering to root/_form for new team" %>

  <div class="container">
    <%= render 'form' %>
  </div>
</div>
<!-- close the center jumbotron -->

<!-- this is a duplication of the users/_form.html.erb  -->
<!-- experiment with dropping the jumbo                 -->
