<!-- <o%o= link_to 'My Channels', teams_path, id:  "alink"%></aoo -->

<div class="teambanner">
  <p class="two">#Channel<%= @team.id %> : <%=@team.name %></p>
  <p class="three"> <%=@team.description%> </p>
</div> <!-- close the page top division, teambanner -->


<!-- - - - - - -      topics div    - - - - - - - -   -->

<div class="topic-container">       <!-- topics div container       -->
  <div class="topic-item1">Discussion Topic</div>
  <div class="topic-item3">
    <a href = "/teams/<%= @team.id %>/channels/new" class="btn btn-default btn-sm active" role="button">New Topic</a>
  </div>
</div>                              <!-- close topics div container  -->

<!--  topic button gave me a lot of trouble with putting that id in there -->
<!--   bascially being talent impaired, yes i know.                       -->
<!-- %x=x link_to "Create New Discussion: ", new_channel_path(@team.id)%><x%x=@team.namex% -->
<!-- <a href="/teams/4/channels/new" see the ruby added to output the id number -->
<!-- - - - - - - - - - - - close topics div - - - - - - - -   -->
<!-- - - - - - - - - - - - close topics div - - - - - - - -   -->

<!--                  <hx><%="ref text"%></hx>                -->

<!--  THIS SECTION FORMS THE TABLE DO OUTPUT for lack of better term -->
<% rowcolor = 0 %>
<% puts " "%>
<% puts " "%>
<% puts " rowcolor index number is set = : #{rowcolor}"%>
<% puts " "%>
<% puts " "%>
<% puts " - - - - - - - - - - - - - - - - - - - - - - - - - "%>
<% puts " "%>
<% puts " "%>


<% rowcolor = 1 %>                <!-- row color flag is ODD -->
<% @channels.each do |channel| %>  <!-- BEGIN THE DO CONTAINER -->
<% puts " rowcolor index number is set = : #{rowcolor}"%>
  <% if rowcolor.even? %>
    <div id="noshade">
      <% puts "even"%>
  <% else %>
    <div id="shade">
      <% puts "odd"%>
  <% end %>   <!-- END THE IF here or down there  -->

  <!-- THE CHANNEL CONTAINER IS THE ROW -->
  <div class="channel-container">  <!-- channel-container forms the table -->

    <div class="channel-item1">
      <div class="child-item1">
        <!--  p>test</p  -->
        <a><%= link_to channel.name, channel_path(channel.id), id: "topic-link" %></a>
      </div>  <!-- close the child div -->
    </div>    <!-- close the parent -->

    <div class="channel-item2">
      <div class="child-item2">
        <%= channel.description %>
        <!-- p>test</p -->
      </div> <!-- close the child div -->
    </div> <!-- close the parent div  -->

    <div class="channel-item3">
      <div class="child-item3">
        <%= pluralize(channel.users.count, 'User') %>
        <!--   p>test</p  -->
      </div>  <!-- close the child div    -->
    </div>    <!-- close the parent       -->

  </div>      <!-- CLOSE channel-container - forms the table -->
  <!-- the channel-container, the row, is contained in the DO LOOP -->

  </div>    <!-- the if DIVs -->
  </div>    <!-- the if DIVs -->
  <!-- x% end %x END THE IF HERE ????  or up there   -->

  <% rowcolor = rowcolor + 1 %>
  <% puts " "%>
  <% puts " "%>
  <% puts " rowcolor index number is set = : #{rowcolor}"%>
  <% puts " "%>
  <% puts " "%>
  <% puts " - - - - - - - - - - - - - - - - - - - - - - - - - "%>
  <% puts " "%>
  <% puts " "%>

<% end %>   <!-- END the DO -->
<!--  ABOVE SECTION FORMS THE DO OUTPUT TABLE    END TABLE -->

<!-- this provides a little button for return to channels page -->
<div class="button-container">       <!-- container for button and location -->
  <div class="channel-item4">
    <a href="/teams" class="btn btn-default btn-sm active" role="button">My Channels</a>
  </div>
  <div class="channel-item5">
    <p class="four">teams/root/show.html.erb</p>   <!-- YOU ARE HERE -->
  </div>
</div>
