<!-- <o%o= link_to 'My Channels', teams_path, id:  "alink"%></aoo -->
<p>teams/root/show.html.erb</p>
<h1>My Teams</h1>
<a href="/teams" class="btn btn-default btn-sm active" role="button">My Channels</a>
<h1><%= @team.name %></h1>
<p><%= @team.description %></p>

<h2>Team Channels</h2>

<%= link_to "Create New Channel For Team : ", new_channel_path(@team.id) %><%= @team.name %>

<% @channels.each do |channel| %>
  <div class="channel">
    <p><%= link_to channel.name, channel_path(channel.id) %></p>
    <p><%= channel.description %></p>
    <p><%= pluralize(channel.users.count, 'User') %></p>
  </div>
<% end %>
