<div class="center jumbotron">
  <h3>Slack Rails - Become a Slacker</h3>
  <!-- see style sheet custom.scss for h3's style  -->

  <%= puts ":                       " %>
  <%= puts ":         users/new.html" %>
  <%= puts ":                       " %>
  <%= puts ":         rendering users/_form for new user  " %>

  <div class ="container">
    <%= render 'form' %>
  </div>
  <%= puts ":                         " %>
</div>
