<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <%= csrf_meta_tags %>

    <title>MySlackApp</title>
    <!-- {media: 'all', 'data-turbolinks-track': 'reload'} -->
    <%= stylesheet_link_tag('application', {media: 'all', 'data-turbolinks-track'=>true}) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=>true %>
    <!-- 'data-turbolinks-track': 'reload' -->
  </head>

  <body>

    <%= render 'headers/header' %>
    <%= yield %>

    <!-- Bootstrap -->

  </body>
</html>

<!-- line 5, stylesheet_link_tag is a built in Rails function, see RAPI -->
<!-- will cause an include of application.css for all media types -->
<!-- notice how that line is HEAVY with ruby code -->
<!-- the line calls the link_tag function with two args, -->
<!-- a string indicating the path to the style stylesheet  -->
<!-- and a hash of two elements, one indicating the media type -->
<!-- and the second instructing rails to use the turbolinks feature -->
<!-- what is the difference between true and reload -->
